<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>

    <h:outputStylesheet name="bootstrap/dist/css/bootstrap.min.css" library="bower_components" />
    <h:outputStylesheet name="metisMenu/dist/metisMenu.min.css" library="bower_components" />
    <h:outputStylesheet name="morrisjs/morris.css" library="bower_components" />
    <h:outputStylesheet name="font-awesome/css/font-awesome.min.css" library="bower_components" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <h:outputStylesheet name="sb-admin-2.css" library="css" />
    <h:outputStylesheet name="timeline.css" library="css" />
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="j_username"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="j_password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</h:head>

<h:body>

    <div class="container">

        <form class="form-signin" action="/j_security_check" method="post">
            <h2 class="form-signin-heading">Zaloguj się</h2>
            <label for="j_username" class="sr-only">Email</label>
            <input type="text" id="j_username" name= "j_username" class="form-control" required="required" autofocus="autofocus"/>
            <label for="j_password" class="sr-only">Hasło</label>
            <input type="password"  id="j_password" name= "j_password" class="form-control"/>
            <input  class="btn btn-lg btn-primary btn-block"  type="submit" value="Login" />
        </form>

    </div>

</h:body>
</html>
