<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" >
<h:body>

    <ui:composition template="../layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Zamówienia
                        <small>
                            <p:commandLink action="#{todaySubscriptions.load}" rendered="#{request.isUserInRole('staff')}">
                            wczytaj subskrybcje na dzien dziejszy tylko do demonstracji, normalnie @Schedule co 24h
                            </p:commandLink>
                        </small>
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <h:form rendered="#{not empty manageAllOrders.getOrders()}">
                        <p:dataTable var="order" value="#{manageAllOrders.getOrders()}">

                            <p:column headerText="Uzytkownik" rendered="#{not request.isUserInRole('customer')}">
                                <h:outputText value="#{order.user.email}" />
                            </p:column>

                            <p:column headerText="data">
                                <h:outputText value="#{order.date}">
                                    <f:convertDateTime pattern="dd.MM.YYYY HH:mm" timeZone="Europe/Warsaw" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="status">
                                <h:outputText value="#{order.orderStatus.name()}" />
                            </p:column>

                            <p:column headerText="komentarz">
                                <h:outputText value="#{order.comment}"  rendered="#{not request.isUserInRole('staff')}"/>
                                <h:inputText value="#{order.comment}"  rendered="#{request.isUserInRole('staff')}"/>
                            </p:column>

                            <p:column headerText="Akcje">

                                <h:commandButton  rendered="#{request.isUserInRole('customer')}" value="Edytuj" style="float:right" action="#{manageAllOrders.edit(order)}" />
                                <h:commandButton  rendered="#{request.isUserInRole('admin') or request.isUserInRole('customer')}" value="Usuń" style="float:right" action="#{manageAllOrders.deleteOrder(order)}"/>
                                <h:commandButton  rendered="#{request.isUserInRole('staff')}" value="Komentarz" style="float:right" action="#{manageAllOrders.makeComment(order)}" />

                                <h:commandButton  rendered="#{request.isUserInRole('staff') and order.orderStatus.name() eq 'PENDING'}" value="Gotuj" style="float:right" action="#{manageAllOrders.makeDish(order)}" />

                                <h:commandButton  rendered="#{request.isUserInRole('staff') and order.orderStatus.name() eq 'WAITING_FOR_PICKUP'}" value="Potwierdź odbiór" style="float:right" action="#{manageAllOrders.confirmPickedUp(order)}" />

                                <h:commandButton  rendered="#{request.isUserInRole('staff') and order.orderStatus.name() eq 'DONE'}" value="Przekaż dostawcy" style="float:right" action="#{manageAllOrders.toDeliver(order)}" />

                            </p:column>

                        </p:dataTable>
                    </h:form>

                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

