<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" >
<h:body>

    <ui:composition template="../layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Zamówienie - szczegóły</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <h:form id="form">

                        <h:panelGrid columns="2" cellpadding="5">

                            <p:outputLabel for="datetime" value="Data:" />
                            <p:calendar id="datetime" value="#{manageOrder.order.date}" pattern="MM/dd/yyyy HH:mm:ss" />

                            <p:outputLabel for="hasSubscription" value="Subsckrybcja:" />
                            <p:selectBooleanCheckbox id="hasSubscription" value="#{manageOrder.hasSubscription}" immediate="true"   onchange="submit()">
                            </p:selectBooleanCheckbox>

                            <p:outputLabel for="adres" value="Adres (puste, odbiór osobisty)" />
                            <h:inputTextarea id="adres" value="#{manageOrder.order.address}" />

                        </h:panelGrid>

                        <h:panelGrid columns="2" cellpadding="5" id="subform"  rendered="#{manageOrder.hasSubscription and not manageOrder.edit}">

                            <p:outputLabel for="days" value="Powtarzaj w dni:" />
                            <h:selectManyCheckbox id="days" value="#{manageOrder.subscription.days}"  converter="#{dayOfWeekConverter}">
                                <f:selectItems value="#{manageOrder.days()}"  />
                            </h:selectManyCheckbox>

                        </h:panelGrid>

                        <p:commandButton action="#{manageOrder.endConversation}" value="Zapisz" />

                    </h:form>

                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

