<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>

    <ui:composition template="layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Change password</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h:form id="form">
                        <p:panel id="panel" header="Form" style="margin-bottom:10px;">
                            <p:messages id="messages" />
                            <h:panelGrid columns="3" cellpadding="5">
                                <p:outputLabel for="user" value="Użytkownik:" />
                                <p:selectOneMenu id="user" value="#{changePassword.userId}" required="required">
                                    <f:selectItems value="#{changePassword.users}" var="user" itemLabel="#{user.email}" itemValue="#{user.id}" />
                                </p:selectOneMenu>
                                <p:message for="user" />

                                <p:outputLabel for="password" value="Hasło:" />
                                <p:password id="password" value="#{changePassword.password}" required="true" autocomplete="off"/>
                                <p:message for="password" />
                            </h:panelGrid>
                        </p:panel>

                        <p:toolbar>
                            <f:facet name="left">
                                <p:commandButton value="Submit" update="panel" action="#{changePassword.changePassword()}" style="margin-right:20px;" />
                            </f:facet>
                        </p:toolbar>
                    </h:form>
                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

