<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">
<body>

<ui:composition>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/app/index.xhtml">Kafeteria: #{request.getUserPrincipal().name}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/app/changePassword.xhtml"><i class="fa fa-gear fa-fw"></i> Ustawienia</a>
                    </li>
                    <li><a href="/app/paymentOptions.xhtml"><i class="fa fa-dollar fa-fw"></i> Opcje płatności</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/app/logout"><i class="fa fa-sign-out fa-fw"></i> Wyloguj</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="/app/index.xhtml"><i class="fa fa-bars fa-fw"></i> Menu</a>
                    </li>
                    <li>
                        <a href="/app/order/manage.xhtml"><i class="fa fa-apple fa-fw"></i> Zamówienia</a>
                    </li>
                    <li>
                        <a href="/app/subscription/manage.xhtml"><i class="fa fa-refresh fa-fw"></i> Subskrypcje</a>
                    </li>

                    <li>

                        <p:outputPanel id="topItems">
                            <h:form>
                                <p:dataList value="#{topItems.top}" var="item" type="ordered">
                                    #{item.name}
                                </p:dataList>

                                <p:commandButton action="#{topItems.fireEventTest()}" value="test" />
                            </h:form>
                        </p:outputPanel>

                        <p:socket channel="/pushChannel" >
                            <p:ajax event="message" update="topItems" />
                        </p:socket>


                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

</ui:composition>

</body>
</html>