<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
<h:body>

    <ui:composition template="layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Lista menu
                    <small>
                        <h:outputLink value="/app/menu/manage.xhtml" rendered="#{request.isUserInRole('menu')}">manage menus</h:outputLink>
                    </small>
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <h:form  rendered="#{request.isUserInRole('customer')}">
                <h3>Zamówienie</h3>
                <p:panel>
                    <p:messages />

                    <p:dataTable value="#{manageOrder.order.menuItems}"  var="menuItem">
                        <p:column headerText="Nazwa">
                            <h:outputText value="#{menuItem.item.name}" />
                        </p:column>

                        <p:column headerText="Ilość">
                            <h:inputText value="#{menuItem.quantity}" />
                        </p:column>

                        <p:column headerText="Cena">
                            <h:outputText value="#{menuItem.item.price}" />
                        </p:column>

                        <p:column headerText="Usuń">
                            <p:commandButton actionListener="#{manageOrder.deleteItem(menuItem)}"
                                         ajax="false" value="usuń" >
                            </p:commandButton>
                        </p:column>

                    </p:dataTable>
                    <p:commandButton value="Submit" action="#{manageOrder.summary}" ajax="false"/>
                </p:panel>

            </h:form>

            <p:ajaxExceptionHandler type="javax.ejb.EJBAccessException"
                                    update="exceptionDialog"
                                    onexception="PF('exceptionDialog').show();" />
            <p:dialog id="exceptionDialog" header="Exception '#{pfExceptionHandler.type}' occured!" widgetVar="exceptionDialog"
                      height="500px">
                Message: #{pfExceptionHandler.message} <br/>
                StackTrace: <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false" /> <br />


            </p:dialog>

            <p:outputPanel id="itemsPanel">
            <ui:repeat value="#{menus.menusList()}" var="singleMenu" id="grid">

                <f:form>


                    <div class="row">
                        <div class="container">
                            <h2>Menu: #{singleMenu.name}
                                <small>
                                    <p:commandLink update="itemsPanel" actionListener="#{menus.deleteMenu(singleMenu)}"
                                                   process="@this,itemsPanel" >
                                        <i class="fa fa-times"></i> usuń
                                    </p:commandLink>
                                </small>
                            </h2>
                            <hr />

                            <ui:repeat value="#{singleMenu.getCategoriesFiltered()}" var="category" >
                            <h:panelGroup id="categories" rendered="#{not category.deleted}">
                                <h3 style="margin-left:15px;margin-bottom:45px">#{category.name}
                                    <small>
                                        <p:commandLink update="itemsPanel" actionListener="#{menus.deleteCategory(category)}"
                                                       process="@this,itemsPanel" >
                                            <i class="fa fa-times"></i> usuń
                                        </p:commandLink>
                                    </small>
                                </h3>

                                <ui:repeat value="#{category.items}" var="item">
                                    <h:panelGroup id="categories" rendered="#{not item.deleted}">

                                        <h4 style="margin-left:45px">
                                            #{item.name}

                                            <small>
                                                <h:commandLink update="itemsPanel" actionListener="#{manageOrder.addItem(item)}"
                                                               process="@this,itemsPanel">
                                                    <i class="fa fa-plus"></i> dodaj do zamowienia
                                                </h:commandLink>
                                                <p:commandLink update="itemsPanel" actionListener="#{menus.deleteItem(item)}"
                                                               process="@this,itemsPanel" >
                                                    <i class="fa fa-times"></i> usuń
                                                </p:commandLink>
                                            </small>

                                        </h4>


                                        <ul style="margin-left:50px;">
                                            <ui:repeat value="#{item.ingredients}" var="ingredient">

                                                <li>
                                                    #{ingredient.name},  #{ingredient.value} #{ingredient.unit}
                                                </li>

                                            </ui:repeat>
                                        </ul>

                                        <h:graphicImage value="#{item.imgUrl}" style="margin-left:60px;" rendered="#{not empty item.imgUrl}" />
                                    </h:panelGroup>

                                </ui:repeat>

                            </h:panelGroup>
                            <hr />
                            </ui:repeat>

                        </div>
                    </div>


                </f:form>

            </ui:repeat>
            </p:outputPanel>

        </ui:define>

    </ui:composition>

</h:body>
</html>