<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>

   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />


   <h:outputStylesheet name="bootstrap/dist/css/bootstrap.min.css" library="bower_components" />
   <h:outputStylesheet name="metisMenu/dist/metisMenu.min.css" library="bower_components" />
   <h:outputStylesheet name="morrisjs/morris.css" library="bower_components" />
   <h:outputStylesheet name="font-awesome/css/font-awesome.min.css" library="bower_components" />

   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->

   <h:outputStylesheet name="sb-admin-2.css" library="css" />
   <h:outputStylesheet name="timeline.css" library="css" />

</h:head>
<h:body>

    <div id="wrapper">

        <ui:insert name="header" >
            <ui:include src="commonHeader.xhtml" />
        </ui:insert>


        <div id="page-wrapper">
            <ui:insert name="content" >
                <ui:include src="commonContent.xhtml" />
            </ui:insert>
        </div>

    </div>

    <h:outputScript library="primefaces" name="jquery/jquery.js" />
    <!--<h:outputScript name="jquery/dist/jquery.min.js" library="bower_components" />-->
    <script>
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
    </script>
    <h:outputScript name="bootstrap/dist/js/bootstrap.min.js" library="bower_components" />
    <h:outputScript name="metisMenu/dist/metisMenu.min.js" library="bower_components" />
    <h:outputScript name="raphael/raphael-min.js" library="bower_components" />
    <h:outputScript name="morrisjs/morris.min.js" library="bower_components" />

    <h:outputScript name="sb-admin-2.js" library="js" />


</h:body>
</html>