<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/html">
<h:body>

    <ui:composition template="layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Nie jesteś upoważniony</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>
