<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>

    <ui:composition template="layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Ustawienia płatności</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h:form id="form">
                        <p:panel id="panel" header="Form" style="margin-bottom:10px;">
                            <p:messages id="messages" />
                            <h:panelGrid columns="3" cellpadding="5">
                                <p:outputLabel for="pay" value="Pobierz z wypłaty:" />
                                <p:selectBooleanCheckbox id="pay" value="#{paymentOptions.subscribed}"  />

                            </h:panelGrid>
                        </p:panel>

                        <p:toolbar>
                            <f:facet name="left">
                                <p:commandButton value="Submit" update="panel" action="#{paymentOptions.save()}" style="margin-right:20px;" />
                            </f:facet>
                        </p:toolbar>
                    </h:form>


                    <p:panel rendered="#{paymentOptions.preview}">
                        <ui:repeat value="#{paymentOptions.order.menuItems}" var="v">
                            <h4 style="margin-left:45px">
                                #{v.item.name}
                            </h4>


                            <ul style="margin-left:50px;">
                                <ui:repeat value="#{v.item.ingredients}" var="ingredient">

                                    <li>
                                        #{ingredient.name},  #{ingredient.value} #{ingredient.unit}
                                    </li>

                                </ui:repeat>
                            </ul>

                            <h:graphicImage value="#{v.item.imgUrl}" style="margin-left:60px;" rendered="#{not empty v.item.imgUrl}" />

                        </ui:repeat>


                    </p:panel>

                    <h:form id="form2">

                    <p:dataTable value="#{paymentOptions.salaryPayments}"  var="item">
                        <p:column headerText="Data">
                            <h:outputText value="#{item.date}">
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Wartość">
                            <h:outputText value="#{item.price}" />
                        </p:column>

                        <p:column headerText="Podgląd">
                            <p:commandButton actionListener="#{paymentOptions.previewOrder(item.orderId)}"
                                             ajax="false" value="Podgląd" >
                            </p:commandButton>
                        </p:column>

                    </p:dataTable>
                    </h:form>
                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

