<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" >
<h:body>

    <ui:composition template="../layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Subskrybcje</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <h:form rendered="#{manageAllSubscriptions.edit}">
                        <h:form>
                            <p>
                                <p:outputLabel for="datetime" value="Data:" /> <br />
                                <p:calendar  id="datetime" value="#{manageAllSubscriptions.subscription.date}" pattern="MM/dd/yyyy HH:mm:ss" />
                            </p>
                            <p>
                                <p:outputLabel for="adres" value="Adres (puste, odbiór osobisty): " /> <br />
                                <h:inputTextarea value="#{manageAllSubscriptions.subscription.address}" id="adres" />
                            </p>
                            <p>
                                <p:outputLabel for="days" value="Powtarzaj w dni:" />
                                <h:selectManyCheckbox id="days" value="#{manageAllSubscriptions.subscription.days}"  converter="#{dayOfWeekConverter}" collectionType="java.util.HashSet">
                                    <f:selectItems value="#{manageAllSubscriptions.days()}"  />
                                </h:selectManyCheckbox>
                            </p>
                            <p><h:commandButton value="save" action="#{manageAllSubscriptions.save}" /></p>
                        </h:form>
                    </h:form>

                    <h:form rendered="#{not empty manageAllSubscriptions.getSubscriptions()}">
                        <p:dataTable var="subs" value="#{manageAllSubscriptions.getSubscriptions()}">

                            <p:column headerText="Uzytkownik" rendered="#{not request.isUserInRole('customer')}">
                                <h:outputText value="#{subs.user.email}" />
                            </p:column>

                            <p:column headerText="data">
                                <h:outputText value="#{subs.date}" >
                                    <f:convertDateTime pattern="HH:mm" timeZone="Europe/Warsaw" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="powtórz">
                                <h:outputText value="#{subs.days}" />
                            </p:column>


                            <p:column headerText="Akcje">

                                <h:commandButton  rendered="#{request.isUserInRole('customer')}" value="Edytuj" style="float:right" action="#{manageAllSubscriptions.edit(subs)}" />

                                <h:commandButton  rendered="#{request.isUserInRole('admin') or request.isUserInRole('customer')}" value="Usuń" style="float:right" action="#{manageAllSubscriptions.deleteSubscription(subs)}"/>

                            </p:column>

                        </p:dataTable>
                    </h:form>

                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

