<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" >
<h:body>

    <ui:composition template="../layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h3><a href="/app/menu/manage.xhtml">Wróć to listy menu</a></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Lista elementów
                        <small>
                            <h:link outcome="/app/menu/upsertElement.xhtml" value="nowy element">
                                <f:param name="menuId" value="#{manageElements.menu.id}"/>
                            </h:link>
                        </small>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <h:form rendered="#{not empty manageElements.menu.getCategoriesFiltered()}">

                        <ui:repeat value="#{manageElements.menu.getCategoriesFiltered()}" var="category">
                            <h3>#{category.name}</h3>
                            <p:dataTable var="item" value="#{category.items}">

                                <p:column headerText="Nazwa">
                                    <h:outputText value="#{item.name}" />
                                </p:column>

                                <p:column headerText="Akcje">
                                    <h:button outcome="/app/menu/upsertElement.xhtml" value="Elementy">
                                        <f:param name="menuId" value="#{manageElements.menu.id}"/>
                                        <f:param name="menuItemId" value="#{item.id}"/>
                                    </h:button>
                                </p:column>

                                <p:column headerText="Usuń">
                                    <h:commandButton value="Usuń" action="#{manageElements.delete(item)}" />
                                </p:column>

                            </p:dataTable>

                        </ui:repeat>

                    </h:form>

                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

