<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" >
<h:body>

    <ui:composition template="../layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h3><a href="/app/menu/manage.xhtml">Wróć to listy menu</a></h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">#{manageSingleMenu.menu.name} - kategorie</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <h:form rendered="#{not empty manageSingleMenu.menu.categories}">
                        <p:dataTable var="item" value="#{manageSingleMenu.menu.categories}">
                                <p:column headerText="Id" rendered="#{not item.deleted}">
                                    <h:outputText value="#{item.id}" />
                                </p:column>

                                <p:column headerText="Name" rendered="#{not item.deleted}">
                                    <h:outputText value="#{item.name}" />
                                </p:column>

                                <p:column headerText="Edit" rendered="#{not item.deleted}">
                                    <h:commandButton value="edit" action="#{manageSingleMenu.edit(item)}" />
                                </p:column>

                                <p:column headerText="Delete" rendered="#{not item.deleted}">
                                    <h:commandButton value="delete" action="#{manageSingleMenu.delete(item)}" />
                                </p:column>

                        </p:dataTable>
                    </h:form>

                    <h:panelGroup rendered="#{empty manageSingleMenu.menu.categories}">
                        <p>Pusto :/</p>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{!manageSingleMenu.edit}">
                        <h3>Dodaj kategorię</h3>
                        <h:form>
                            <p>Nazwa: <h:inputText value="#{manageSingleMenu.category.name}" /></p>
                            <p><h:commandButton value="add" action="#{manageSingleMenu.add}" /></p>
                        </h:form>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{manageSingleMenu.edit}">
                        <h3>Edycja kategorii: #{manageSingleMenu.category.id}</h3>
                        <h:form>
                            <p>Nazwa: <h:inputText value="#{manageSingleMenu.category.name}" /></p>
                            <p><h:commandButton value="save" action="#{manageSingleMenu.save}" /></p>
                        </h:form>
                    </h:panelGroup>

                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

