<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" >
<h:body>

    <ui:composition template="../layout.xhtml">

        <ui:define name="content">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Lista menu</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <h:form rendered="#{not empty manageMenus.list}">
                        <p:dataTable var="item" value="#{manageMenus.list}">

                            <p:column headerText="Nazwa">
                                <h:outputText value="#{item.name}" />
                            </p:column>

                            <p:column headerText="Akcje">
                                <h:button outcome="/app/menu/manageSingleMenu.xhtml" value="Kategorie">
                                    <f:param name="menuId" value="#{item.id}"/>
                                </h:button>
                                <h:button outcome="/app/menu/manageElements.xhtml" value="Elementy">
                                    <f:param name="menuId" value="#{item.id}"/>
                                </h:button>

                                <h:commandButton value="Edytuj" style="float:right" action="#{manageMenus.edit(item)}" />
                            </p:column>

                            <p:column headerText="Usuń">
                                <h:commandButton value="Usuń" action="#{manageMenus.delete(item)}" />
                            </p:column>
                        </p:dataTable>
                    </h:form>

                    <h:panelGroup rendered="#{empty manageMenus.list}">
                        <p>Pusto :/</p>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!manageMenus.edit}">
                        <h3>Dodaj menu</h3>
                        <h:form>
                            <p>Nazwa: <h:inputText value="#{manageMenus.menu.name}" /></p>
                            <p><h:commandButton value="add" action="#{manageMenus.add}" /></p>
                        </h:form>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{manageMenus.edit}">
                        <h3>Edycja menu: #{manageMenus.menu.id}</h3>
                        <h:form>
                            <p>Nazwa: <h:inputText value="#{manageMenus.menu.name}" /></p>
                            <p>Stan:
                                <h:selectOneMenu value="#{manageMenus.menu.state}">
                                    <f:selectItems value="#{manageMenus.statuses}" />
                                </h:selectOneMenu>  ,
                            </p>
                            <p><h:commandButton value="save" action="#{manageMenus.save}" /></p>
                        </h:form>
                    </h:panelGroup>

                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

