<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" >
<h:body>

    <ui:composition template="../layout.xhtml">

        <ui:define name="content">


            <div class="row">
                <div class="col-lg-12">
                    <h3>
                        <h:link outcome="/app/menu/manageElements.xhtml" value="Wróć do menu">
                            <f:param name="menuId" value="#{upsertElementWizard.menu.id}"/>
                        </h:link>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3>
                        Dodawanie elementu do menu: #{upsertElementWizard.menu.name}
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Element</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">


                    <h:form id="formContainer">
                        <p:panel rendered="#{upsertElementWizard.added}">
                            <h4>Dodano: <h:link outcome="/app/menu/manageElements.xhtml" value="Wróć do menu">
                                <f:param name="menuId" value="#{upsertElementWizard.menu.id}"/>
                            </h:link></h4>
                        </p:panel>

                        <p:growl id="growl" sticky="true" showDetail="true"/>

                        <p:wizard flowListener="#{upsertElementWizard.onFlowProcess}"  rendered="#{not upsertElementWizard.added}">

                            <p:tab id="basic" title="Podstawowe dane">
                                <p:panel header="Podstawowe dane">
                                    <p:messages />
                                    <h:panelGrid columns="2" columnClasses="label, value">
                                        <h:outputText value="Nazwa" style="color:black" />
                                        <p:inputText value="#{upsertElementWizard.menuItem.name}" required="true" label="Nazwa"/>

                                        <h:outputText value="Cena" style="color:black" />
                                        <p:inputText value="#{upsertElementWizard.menuItem.price}" required="true" label="Cena"/>

                                        <h:outputText value="Adres obrazka" style="color:black" />
                                        <p:inputText value="#{upsertElementWizard.menuItem.imgUrl}" required="true" label="Adres obrazka"/>

                                        <h:outputText value="Kategoria" style="color:black"/>
                                        <h:selectOneMenu value="#{upsertElementWizard.menuItem.category}" required="true" label="Kategoria" converter="#{menuCategoryConverter}">
                                            <f:selectItems value="#{upsertElementWizard.menu.getCategoriesFiltered()}" />
                                        </h:selectOneMenu>
                                    </h:panelGrid>
                                </p:panel>
                            </p:tab>

                            <p:tab id="ingredients" title="Składniki">
                                <p:panel header="Składniki" id="ingredientspanel" >
                                    <p:messages />




                                    <p:dataTable value="#{upsertElementWizard.menuItem.ingredients}"  var="ingredient">
                                        <p:column headerText="Nazwa">
                                            <h:inputText value="#{ingredient.name}" >
                                                <p:ajax listener="#{upsertElementWizard.dummyListener()}"/>
                                            </h:inputText>
                                        </p:column>

                                        <p:column headerText="Ilość">
                                            <h:inputText value="#{ingredient.value}">
                                                <p:ajax listener="#{upsertElementWizard.dummyListener()}"/>
                                            </h:inputText>
                                        </p:column>

                                        <p:column headerText="Jednostka">
                                            <h:selectOneMenu value="#{ingredient.unit}"   valueChangeListener="#{upsertElementWizard.dummyListener()}" required="true">
                                                <f:selectItem itemLabel="-" itemValue="" />
                                                <f:selectItems value="#{upsertElementWizard.units}" />
                                                <p:ajax listener="#{upsertElementWizard.dummyListener()}"/>

                                            </h:selectOneMenu>
                                        </p:column>

                                        <p:column headerText="Usuń">
                                            <p:commandLink ajax="false" update="ingredientspanel" actionListener="#{upsertElementWizard.remove(ingredient)}" process="@this,ingredientspanel" >
                                                <i class="fa fa-times"></i> usuń
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>



                                    <p:commandLink update="ingredientspanel" ajax="false" actionListener="#{upsertElementWizard.extend}"
                                                   process="@this" >
                                        <i class="fa fa-plus"></i> Dodaj
                                    </p:commandLink>

                                    <p:commandButton value="Submit" actionListener="#{upsertElementWizard.save}" update="formContainer" ajax="false" process="@this"/>
                                </p:panel>

                            </p:tab>
                        </p:wizard>

                    </h:form>

                </div>
            </div>

        </ui:define>

    </ui:composition>

</h:body>
</html>

